    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Django App{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="{% static 'bootstrap/bootstrap.min.css' %}">

        <!-- Custom CSS -->
        <link rel="stylesheet"
            href="{% static 'css/style.css' %}">
    </head>
    <body>

        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/django-logo.png' %}" width="80">
            </a>

            <ul class="navbar-nav ms-auto">
                {%if request.user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'expense_list' %}">
                        Expenses
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'expense_create' %}">
                        Add Expense
                    </a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-danger btn-sm ms-2" href="{% url 'logout' %}">
                        Logout
                    </a>
                </li>
                {% else %}

                <li class="nav-item">
                    <a class="btn btn-secondary btn-sm ms-2" href="{% url 'login' %}">
                        Login
                    </a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-secondary btn-sm ms-2" href="{% url 'register' %}">
                        Register
                    </a>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    
        <!-- Bootstrap JS -->
        <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>

        <!-- Custom JS -->
        <script src="{% static 'js/script.js' %}"></script>

    </body>
    </html>